@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  box-sizing: border-box;
  display: grid;
  grid-template: 70px 95vh 35rem 1fr 100px/1fr;
  grid-template-areas: "nav" "main" "graphic" "prices" "footer";
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 85%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}

header {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  height: 35px;
}
.nav__list-rigth, .nav__list-left {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.nav__item {
  margin: 0 25px;
}
@media only screen and (max-width: 576px) {
  .nav__item {
    display: none;
  }
}
.nav__link {
  position: relative;
}
.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;
  right: 6px;
  height: 2px;
  background: #ee9480;
  transform: scaleX(0);
  transition: transform 450ms ease-in-out;
}
.nav__link:hover::after {
  transform: scaleX(1);
}
.nav__btn {
  background: #2ab7ca;
  padding: 8px 15px;
  color: #fff;
  font-weight: 500;
  border: none;
}
.nav__btn:hover {
  background: #77d1dd;
}
.nav__btn:focus {
  background: #bababa;
  outline: none;
}
@media only screen and (max-width: 576px) {
  .nav__btn {
    display: none;
  }
}
.nav__wrap-mobile-menu {
  width: 25px;
}
@media only screen and (min-width: 577px) {
  .nav__wrap-mobile-menu {
    display: none;
  }
}

.main-section {
  grid-area: main;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .main-section {
    display: flex;
    flex-direction: column;
  }
}
.main-section__hero {
  background-image: url(../assets/images/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
}
@media only screen and (max-width: 576px) {
  .main-section__hero {
    background-size: contain;
    top: 30px;
  }
}
.main-section__content {
  width: 35%;
  height: 100%;
  position: relative;
  top: 40px;
}
@media only screen and (max-width: 576px) {
  .main-section__content {
    width: 100%;
    top: 0;
  }
}
.main-section__title {
  font-size: 2.8em;
}
@media only screen and (max-width: 576px) {
  .main-section__title {
    margin: 10px 0;
  }
}
.main-section__text {
  line-height: 25px;
}

.graphic {
  grid-area: graphic;
}
.graphic__title {
  text-align: center;
  font-size: 2em;
  padding: 20px 0;
}
.graphic__wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .graphic__wrap {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.graphic__graph {
  flex: 1;
  text-align: center;
}
.graphic__content {
  flex: 1;
}
.graphic__subtitle {
  font-size: 1.3em;
}
.graphic__text {
  line-height: 25px;
}

.price {
  grid-area: prices;
  background-image: url(../assets/images/bg-price.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 8rem 0 5rem;
}
@media only screen and (max-width: 576px) {
  .price {
    padding: 14rem 0 4rem;
  }
}
.price__title {
  text-align: center;
  color: #fff;
  font-size: 2em;
}

.card {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 576px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}
.card__box {
  height: 23rem;
  width: 18rem;
  background: #fff;
  padding: 25px 15px;
  margin: 0 20px;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .card__box {
    margin: 20px 0;
    width: 16rem;
  }
}
.card__bottom {
  position: absolute;
  bottom: 35px;
  right: 15px;
  left: 15px;
}
.card__plan {
  font-size: 1.4em;
  margin: 15px 0;
}
.card__value {
  font-size: 1.9em;
  letter-spacing: 2px;
  padding-left: 15px;
  margin-bottom: 15px;
}
.card__value span {
  font-size: 0.85em;
}
.card__list {
  padding-inline-start: 20px;
}
.card__item {
  margin-bottom: 10px;
}
.card__btn {
  margin-top: 10px;
  width: 100%;
  background: #2ab7ca;
  padding: 8px 15px;
  color: #fff;
  font-weight: 500;
  border: none;
}
.card__btn:hover {
  background: #77d1dd;
}
.card__btn:focus {
  background: #bababa;
  outline: none;
}

.footer {
  grid-area: footer;
  background: #221d23;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .footer {
    justify-content: center;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .footer-nav {
    flex-direction: column;
    align-items: center;
  }
}
.footer-nav__list-left, .footer-nav__list-rigth {
  display: flex;
  margin: 10px 0;
  padding: 0;
}
.footer-nav__item-l, .footer-nav__item-r {
  list-style: none;
  color: #fff;
}
.footer-nav__link {
  padding-right: 30px;
}
@media only screen and (max-width: 576px) {
  .footer-nav__link {
    padding-right: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
