@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/buttons';

.footer {
   grid-area: footer;
   background: $footerColor;
   display: flex;
   align-items: center;
   @include v-small {
      justify-content: center;
   }
}

.footer-nav {
   display: flex;
   justify-content: space-between;
   @include v-small {
      flex-direction: column;
      align-items: center;
   }
   &__list-left,
   &__list-rigth {
      display: flex;
      margin: 10px 0;
      padding: 0;
   }
   &__item-l,
   &__item-r {
      list-style: none;
      color: $white;
   }
   &__link {
      padding-right: 30px;
      @include v-small {
         padding-right: 10px;
      }
   }
}