@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/buttons';

.footer {
   grid-area: footer;
   background: $footerColor;
   display: flex;
   align-items: center;
}

.footer-nav {
   display: flex;
   justify-content: space-between;
   &__list-left,
   &__list-rigth {
      display: flex;
   }
   &__item-l,
   &__item-r {
      list-style: none;
      color: $white;
   }
   &__link {
      margin-right: 30px;
   }
}