@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/buttons';

.graphic {
   grid-area: graphic;
   &__title {
      text-align: center;
      font-size: 2em;
      padding: 20px 0;
   }
   &__wrap {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      @include v-small {
         flex-direction: column;
         justify-content: center;
         width: 100%;
      }
   }
   &__graph {
      flex: 1;
      text-align: center;
   }
   &__img {
      will-change: transform;
      animation: opacity-graph ease-in-out 6s infinite;
   }
   &__content {
      flex: 1;
   }
   &__subtitle {
      font-size: 1.3em;
   }
   &__text {
      line-height: 25px;
   }
}

@keyframes opacity-graph {
   0% {
      opacity: 0.1;
   }
   50% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
   }
}