@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/buttons';

header {
   grid-area: nav;
   display: flex;
   align-items: center;
}

.nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   &__logo {
      height: 35px;
   }
   &__list-rigth, 
   &__list-left {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
   }
   &__item {
      margin: 0 25px;
   }
   &__link {
      position: relative;
      &:after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 6px;
         right: 6px;
         height: 2px;
         background: $salmon;
         transform: scaleX(0);
         transition: transform 450ms ease-in-out;
       }
       &:hover::after {
          transform: scaleX(1);
       }
   }
   &__btn {
      @include nav-btn;
   }
}