@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/buttons';

.price {
   grid-area: prices;
   background-image: url(../assets/images/bg-price.svg);
   @include background-propieties;
   padding: 8rem 0 5rem;
   @include v-small {
      padding: 14rem 0 4rem;
   }
   &__title {
      text-align: center;
      color: $white;
      font-size: 2em;
   }
}

.card {
   display: flex;
   justify-content: center;
   @include v-small {
      flex-direction: column;
      align-items: center;
   }
   &__box {
      height: 23rem;
      width: 18rem;
      background: $white;
      padding: 25px 15px;
      margin: 0 20px;
      position: relative;
      will-change: transform;
      @include v-small {
         margin: 20px 0;
         width: 16rem;
      }
      &:hover {
         animation: box-scale 0.8s ease-in-out forwards;
      }
   }
   &__bottom {
      position: absolute;
      bottom: 35px;
      right: 15px;
      left: 15px;
   }
   &__plan {
      font-size: 1.4em;
      margin: 15px 0;
      font-family: $font;
      font-weight: 500;
   }
   &__value {
      font-size: 2em;
      letter-spacing: 2px;
      padding-left: 15px;
      margin-bottom: 15px;
      font-family: $fontTitle;
      span {
         font-size: 0.95em;
      }
   }
   &__list {
      padding-inline-start: 20px;
   }
   &__item {
      margin-bottom: 10px;
   }
   &__line-bottom {
      border: 1px solid $focus;
   }
   &__btn {
      margin-top: 10px;
      width: 100%;
      @include nav-btn;
   }
}

@keyframes box-scale {
   0% {
      transform: scale(1);
   }
   100%{
      transform: scale(1.1);
   }
}